

td[rowspan="2"], td[colspan="2"]{
    background-color: #234E54;
}

td[rowspan="3"], td[colspan="3"]{
    background-color: #ACA759;
}

td[rowspan="4"], td[colspan="4"]{
    background-color: #CEA885;
}

li[id]{
    list-style-type: square;
    color: #c48cf8;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.85em;
}

.negrita{
    font-weight: bold;
}

li[id] .negrita{
    background-color: #FF9;
}

.comentarios{
    margin-left: 10%;
    margin-right: 10%;
    font-style: italic;
    border: thin dotted #AC8159;
}

p + p{
    text-decoration: underline;
}

li > a{
    background-color: #755E8B;
}