table, th,td{
    border-collapse: collapse;
    border: 1px solid black;
    padding-top: 10%;
}

/*tr+th{
    background-color: rgb(194, 215, 253); Esta opcion no me funciona por eso he optado 
    por colocarlo en cada clase.
}*/

table{
    margin: auto;
    margin-top: 20%;
}

.cabecera{
    background-image: url(imagenes/fondo_gris.gif);
    background-repeat: no-repeat;
}

.euro{
    background-image: url(imagenes/euro.png);
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 5%;
    background-color: rgb(194, 215, 253);
}

.dolar{
    background-image: url(imagenes/dolar.png);
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 5%;
    background-color: rgb(194, 215, 253);
}

.libra{
    background-image: url(imagenes/libra.png);
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 5%;
    background-color: rgb(194, 215, 253);
}

.yen{
    background-image: url(imagenes/yen.png);
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 5%;
    background-color: rgb(194, 215, 253);
}

.par .euro ~ td{
    background-color: rgb(255, 232, 100);
}

.par td{
    background-color: rgba(255, 232, 100,0.5);
}

