.tipo {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #755E8B ;
}
/* Cada div define un estilo a nivel de id con el posicionamiento que le corresponde */

#fija {
    /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
    bottom: 0px;
    right: 0px;
    position: fixed;
    width:7.7rem;
    height:3.43rem;
    background-color: #52797E;			
}
#estatica_exp{
    /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
    position: static;
    background-color: #123D43;
    color: #F9F6C3;
    width: 18.75rem;
    margin: 0.6rem;
}
#estatica_imp{
    /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
    background-color: #6E431C;
    color: #F9DDC3;
    width: 18.75rem;
    margin: 0.6rem;
}
#absoluta1{
    /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
    bottom: 200px;
    right: 200px;
    position: absolute;
    background-color: #123D43;
    color: #F9DDC3;
    height: 6rem;
    margin: 0.6rem;
    width: 18.75rem;
}
#absoluta2{
    /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
    top: 300px;
    left: 250px ;
    position: absolute;
    background-color: #755E8B; 
    color: #CECA85; 
    height: 3rem; 
    width: 37rem;
    margin: 0.6rem;			
}
#absoluta3{
    /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
    top: 310px;
    position: absolute;
    background-color: #6E431C; 			
    color: #789498; 
    height: 4.375rem; 
    margin: 0.6rem;
    width: 18.75rem;			
}
#relativa{
     /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
     top: 100px;
     left: 40px;
     position: relative;
     width:18.75rem;
     background-color:#31174A;
     color:#F9F6C3;
} 
#sticky{
     /* Rellenar con propiedades de posicionamiento y precedencia necesarias */
     bottom: 0;
     position: sticky;
     width:18.75rem;
     background-color:#31174A;
     color:#F932C3;
}