body{
    height: 90vh;
}


/*--------------HEADER--------------*/
header{
    background-color: rgb(47, 61, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10%;
    padding: 0 30px;
}

.opciones-header{
    background-color: rgb(192, 59, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.opciones-header .opcion{
   width: 100px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}



/*--------------MAIN--------------*/

main{
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.container:nth-child(1){
    padding: 20px;
    width: 85%;
    border-bottom: 1px solid rgb(47, 61, 75);
}

.container:nth-child(2){
    padding: 20px;
    width: 85%;
    border-bottom: 1px solid rgb(47, 61, 75);
}

.container:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    color: white;
    width: 100%;
    background-color: orangered;
}

.container:nth-child(3) .foto{
    display: flex;
    height: 40%;
    width: 80%;
    background-color: orange;
}

.container:nth-child(3) .foto:nth-child(1) .foto2{
    display: flex;
    flex-direction: column;
    background-color: red;
    
}

.container:nth-child(3) .foto:nth-child(1) .foto2:nth-child(1){
    height: 50%;
    width: 50%;
    justify-content: flex-start;
    background-color: red;
}

.container:nth-child(3) .foto:nth-child(1) .foto2:nth-child(2){
    height: 50%;
    width: 50%;
    align-self: flex-end;
    background-color: red;
}


.container:nth-child(3) .foto:nth-child(2) .foto2:nth-child(1){
    height: 50%;
    width: 50%;
    justify-content: flex-start;
    background-color: red;
}

.container:nth-child(3) .foto:nth-child(2) .foto2:nth-child(2){
    height: 50%;
    width: 50%;
    align-self: flex-end;
    background-color: red;  
}



/*--------------FOOTER--------------*/

footer{
    background-color: rgb(47, 61, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10%;
    padding: 0 30px;
}

.opciones-footer{
    background-color: rgb(192, 59, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.opciones-footer .opcion{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .footer-derecha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: orange;
    color: white;
 }