.container{
    border: 1px solid black;
    background-color: lightblue;
    height: 50vh;
    width: 50vw;
    transform: translate(50%, 50%);
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.container div:nth-child(1){
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
    margin: 50px;
    border-radius: 5px;
}

.container div:nth-child(2){
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.container div:nth-child(3){
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}