
.icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.icon-search:before { content: '\e009'; } /* '' */
.icon-menu:before { content: '\e0fe'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */